body {
    background-color: #000;
}
.logo {
    /*padding: 0;
    margin: auto;
    border: 1px solid #fff;*/
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.triangle {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
  -webkit-animation: outline 3s ease-in-out forwards;
  -moz-animation: outline 3s ease-in-out forwards;
  -o-animation: outline 3s ease-in-out forwards;
	animation: outline 3s ease-in-out forwards;
	;
}

.rectangle {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
  -webkit-animation: outline 3.5s ease-in-out forwards;
  -moz-animation: outline 3.5s ease-in-out forwards;
  -o-animation: outline 3.5s ease-in-out forwards;
	animation: outline 3.5s ease-in-out forwards;
	;
}

.lines {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
  -webkit-animation: outline 2s ease-in-out 3s forwards;
  -moz-animation: outline 2s ease-in-out 3s forwards;
  -o-animation: outline 2s ease-in-out 3s forwards;
	animation: outline 2s ease-in-out 3s forwards;
	;
}

.name {
  -webkit-animation: appear 6s;
  -moz-animation: appear 6s;
  -o-animation: appear 6s;
	animation: appear 6s;
}

@keyframes outline {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  0% { 
  	opacity: 0;
  }
  40% { 
  	opacity: 0;
  }
  100% { 
  	opacity: 1;
  }
}




